.circle{
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6D50CD;
}

.square{
    width: 30px;
    height: 30px;
    background-color: #71CDB4;
    border-radius: 5px;
}

.logo{
    display: inline-flex;
    align-items: center;
}

.logo_m{
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
}

.inter{
    position: relative;
    display: inline-flex;
}

.inter .circle{
    position: absolute;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log {
    display: inline-flex;
    margin-left: auto; 
    align-items: center;
    gap: 10px;
}

.log > button{
    border-radius: 35px;
    font-weight: 900px;
    color: black;
    font-weight: 700 !important;
}

.main_b{
    border: 0;
    background-color: #6D50CD;
    color: white;
}

.navigation_center{
    margin-left: auto;
}

.t_nav{
    font-weight: 500;
}

.t_nav:hover{
    border-bottom: 2px solid #6D50CD;
}